header {
    height: 0.1rem;
    padding: 2.3rem 0 2.3rem 12.5rem;
    display: flex;

    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    background-color: #2A4760;
    color: white;
}

a {
    font-size: 0.85rem;
    text-decoration: none;
    font-weight: bold;
    background: none;
    padding: 0.3rem 1rem 0.3rem 1rem;
    border-radius: 0.4rem;
    border: none;
    color: #F4F4F4;
}

.buttons a {
    margin-right: 6rem;
}

.search{
  margin-right: 205px;
}

input[type=text] {
    width: 1rem;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 0.7rem;
    font-size: 16px;
    color: white;
    background-color: #2A4760;
    background-image: url('~src/assets/search-icon.png');
    background-size: 1.8rem;
    background-repeat: no-repeat;
    background-position: 10px 6px;
    padding: 12px 20px 12px 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
    border-color: #FF434D;
    outline: none;
}

@media screen and (max-width: 800px) {
    .buttons a {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 650px) {
    header {
        padding: 3rem 2rem 1rem 2rem;
    }

    .buttons a {
        margin-right: 1rem;
    }
}

@media screen and (max-width: 500px) {

    header {
        height: 10rem;
        padding: 2rem 1.5rem 0 1.5rem;
    }

    .buttons a {
        display: flex;
        width: 12rem;
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 12rem;
        padding: 2rem 2rem 1rem 2rem;
        display: block;
    }

    .buttons {
        width: 100%;
        padding: 0;
        margin-bottom: 0.5rem;
    }

    .buttons a {
        margin: 0 0 0.5rem 0;
        width: 100%;
        justify-content: center;
    }

    .search {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
}
