.page-all-animes__cards{
  margin-top: 5px;
  max-width: 1000px;
  display: flex;
  padding-top: 5px;
  flex-wrap: wrap;
}

.top{
  display: flex;
  justify-content: center;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 95vh;
}

h4{
  padding-left: 10px;
  color: #63788F;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
}
