<app-header [button]="'perfil'"></app-header>
<ng-container *ngIf="username != null else loginTemplate">
    <div class="content">
        <div class="profile">
            <img class="profile-img" alt="Profile Image" [src]="user?.avatar_url">
            <div class="infos">
                <span class="info" id="login-info">{{user?.login}}</span>
            </div>
        </div>
        <div class="favoritos">
            <h3>Favoritos</h3>
            <div class="cards">
                <app-anime-card *ngFor="let favorito of user?.favoritos" [title] = "favorito.anime.title" [image_url] = "favorito.anime.image_url" [animeId]="favorito.anime.id"></app-anime-card>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #loginTemplate>
  <div class="page-content">
    <div class="login-content" #loginTemplate>
      <div class="forms" id="loginForm">
        <h3>Login</h3>
        <input type="text" id="" name="" placeholder="E-mail" [(ngModel)]="inputText" (ngModelChange)="validateInput()">
        <input type="text" id="" name="" placeholder="Senha" [(ngModel)]="inputText" (ngModelChange)="validateInput()">
        <button type="submit" (click)="logar()" [disabled]="!canLogin">Login</button>
      </div>
      <div class="forms">
        <h3>Cadastro</h3>
        <input type="text" id="" name="" placeholder="Nome" [(ngModel)]="inputText" (ngModelChange)="validateInput()">
        <input type="text" id="" name="" placeholder="E-mail" [(ngModel)]="inputText" (ngModelChange)="validateInput()">
        <input type="text" id="" name="" placeholder="Senha" [(ngModel)]="inputText" (ngModelChange)="validateInput()">
        <input type="text" id="" name="" placeholder="Confirmar senha" [(ngModel)]="inputText" (ngModelChange)="validateInput()">
        <select name="status" [(ngModel)]="status">
          <option hidden value="" disabled selected>Selecione seu sexo</option>
          <option *ngFor="let status of defaultStatus" [ngValue]="status">
            {{ status }}
          </option>
        </select>
        <div class="receive-emails">
          <input type="checkbox" class="checkbox">
          <p>Desejo receber e-mails de confirmação</p>
        </div>
        <button type="submit" (click)="logar()" [disabled]="!canLogin">Cadastrar</button>
      </div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>
