@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.content {
    min-height: 95vh;
    background-color: #F4F4F4;
}

.profile-img {
    height: 6rem;
    border-radius: 6rem;
    margin-left: 12.5rem;
    background-color: #DDDDDD;
}

.profile {
  background-image: url('~src/assets/animes-images/your-name03-1.png');
  background-repeat: no-repeat;
  height: 15rem;
  width: 100%;
  justify-content: left;
  align-items: center;
  background-color: white;
  display: flex;
}

.infos {
  height: auto;
  padding-left: 2rem;
  align-items: center;
  color: #FFFFFF;
}

span {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: medium;
}

span.info {
    border: 0 solid;
    min-width: 10rem;
}

#login-info {
    margin-bottom: 1rem;
}

.favoritos {
  margin-left: 190px;
  flex-direction: column;
  justify-content: left;
}

.favoritos h3{
  padding-left: 10px;
}

.cards {
    max-width: 1150px;
    padding-top: 0.7rem;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
}

p {
  color: #63788F;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.85rem;
  align-self: center;
}

h3 {
    color: #63788F;
    font-family: 'Open Sans', sans-serif;
    align-self: center;
}

h2 {
  color: #63788F;
  font-family: 'Open Sans', sans-serif;
  align-self: center;
}

.login-title{
  position: absolute;
  top: 34%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.page-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(src/assets/your-name.png) no-repeat;
}

.login-content {
  min-height: 95vh;
  display: flex;
  align-items: center;
}

.forms {
    display: flex;
    border-radius: 1rem;
    background-color: #F4F4F4;
    flex-direction: column;
    justify-content: center;
}

.forms h3{
  color: #63788F;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

select {
  background-color: #FFFFFF;
  appearance: none;
  border: 0 solid transparent;
  color: #63788F;
  outline: none;
  border-radius: 0.3rem;
  height: 2.2rem;
  width: 20rem;
  padding-left: 10px;
  font-size: small;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.forms input[type=text], input[type=email], input[type=password]{
  background-color: #FFFFFF;
  border: 0 solid;
  color: #63788F;
  outline: none;
  border-radius: 0.3rem;
  height: 2.2rem;
  width: 20rem;
  padding-left: 10px;
  font-size: small;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

.forms button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  outline: none;
  border: none;
  background-color: #2A4760;
  border-radius: 0.3rem;
  height: 2.5rem;
  width: 30%;
  margin-bottom: 1.5rem;
  font-size: medium;
  align-self: center;
}

#loginForm {
  margin-right: 4rem;
}

.checkbox {
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox:checked{
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  border: 0 solid;
  background-color: #FF434D;
  cursor: pointer;
}

.forms button:enabled {
    transition: 200ms;
    background-color: #FF434D;
}

.receive-emails{
  display: flex;
  align-items: center;
}
