.anime-card{
  position: relative;
  bottom: 8px;
  left: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.anime-card__name{
  color: #63788F;
  width: 175px;
  padding-top: 5px;
  text-align: center;
  font-weight: inherit;
  font-size: 15px;
  font-family: Arial, serif;
}

.anime-card__image img{
  border-radius: 5px;
  object-fit: cover;
  width: 175px;
  height: 250px;
}

.anime-card__ranked{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #FF434D;
  font-family: Arial, serif;
  font-size: 15px;
  font-weight: bold;
  text-decoration-color: #FF434D;
}
