/* GERAL */

.page-info-anime{
  flex-wrap: wrap;
  alignment: left;
  background-color: #F4F4F4;
  color: #63788F;
  font-family: Arial, serif;
  font-size: 14px;
  min-height: 85vh;
}

.page-info-anime__all{
  display: flex;
  background-color: #FFFFFF;
  padding: 40px 0 15px 190px;
}

.page-info-anime__information{
  display: inline-table;
  margin-left: 20px;
  padding-bottom: 20px;
}

.page-info-anime__infoCards{
  display: inline-table;
  color: #F4F4F4;
  text-align: left;
}

/*---------------------*/

/* SINOPSE */

.page-info-anime__synopsisGroup{
  padding: 0 190px 0 15px;
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 190px;
  border-radius: 7px;
}

.page-info-anime__synopsis{
  justify-content: normal;
  line-height: 1.5;
}

/*---------------------*/

/* TRAILER */

.page-info-anime__Trailer{
  margin-left: 190px;
}

.page-info-anime__Trailer iframe{
  width: 86%;
  height: 590px;
  padding-bottom: 40px;
}

/*---------------------*/

/* ELEMENTOS INFO CARDS */

.page-info-anime__popularCard{
  position: relative;
  display: flex;
  width: 240px;
  background-color: #07A0C3;
  padding: 1px 5px;
  margin-left: 190px;
  margin-bottom: 8px;
  border-radius: 7px;
}

.page-info-anime__popularCard img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
  justify-content: center;
}

.page-info-anime__popularCard-number{
  margin-left: 40px;
}

.page-info-anime__popularCard-string{
margin-left: 8px;
}

.page-info-anime__ratedCard{
  position: relative;
  display: flex;
  width: 240px;
  background-color: #FF434D;
  padding: 1px 5px;
  margin-left: 190px;
  border-radius: 7px;
}

.page-info-anime__ratedCard img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
}

.page-info-anime__ratedCard-number{
  margin-left: 40px;
}

.page-info-anime__ratedCard-string{
  margin-left: 8px;
}

.page-info-anime__card-other-infos{
  width: 240px;
  color: #63788F;
  background-color: #FFFFFF;
  padding: 1px 5px;
  margin-left: 190px;
  margin-top: 10px;
  border-radius: 7px;
}

/*---------------------*/

/* SINOPSE+CARDS */

.page-info-anime__synopsis-cards{
  padding-top: 20px;
  display: flex;
}

/*---------------------*/

/* INFORMACOES O ANIME */

.page-info-anime__image img{
  border-radius: 15px;
  width: 250px;
  height: 400px;
}

.page-info-anime__title{
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 30px;
}

.page-info-anime__genres{
  padding-bottom: 20px;
}

.page-info-anime__episodes {
  padding-bottom: 20px;
}

.page-info-anime__date {
  padding-bottom: 20px;
}

.page-info-anime__status {
  padding-bottom: 20px;
}

.page-info-anime__score{
  padding-bottom: 20px;
}

/*---------------------*/

/* INFORMACOES O ANIME */

.page-info-anime__opening-ending{
  display: flex;
}

.page-info-anime__links{
  margin-left: 190px;
  display: inline-table;
}

.page-info-anime__openingCards{
  margin-left: 10px;
  display: inline-table;
}

.page-info-anime__endingCards{
  margin-left: 250px;
  display: inline-table;
}

.page-info-anime__linkCard{
  width: 240px;
  font-weight: lighter;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 15px 7px 15px 7px;
  background-color: #2A4760;
}
.page-info-anime__linkCard a{
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  text-decoration:none;
  color: #F4F4F4;
}

.page-info-anime__openingCard{
  width: 300px;
  font-weight: lighter;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 1px 7px 1px 7px;
  background-color: #FFFFFF;
}

.page-info-anime__endingCard{
  width: 300px;
  font-weight: lighter;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 1px 7px 1px 7px;
  background-color: #FFFFFF;
}

/*---------------------*/
