/* GERAL */

.page-info-anime{
  flex-wrap: wrap;
  alignment: left;
  color: #63788F;
  font-family: Arial, serif;
  font-size: 17px;
}


.page-info-anime__all{
  display: flex;
  padding: 40px 0 15px 40px;
}

.page-info-anime__information{
  display: inline-table;
  margin-left: 20px;
  padding-bottom: 20px;
}

.page-info-anime__infoCards{
  font-size: 14px;
  display: inline-table;
  color: #F4F4F4;
  text-align: left;
}

/*---------------------*/

/* SINOPSE */

.page-info-anime__synopsisGroup{
  padding: 0 70px 0 15px;
}

.page-info-anime__synopsisTitle{
  padding-bottom: 25px;
  font-size: 25px;
  font-weight: bold;
}

.page-info-anime__synopsis{
  justify-content: normal;
  line-height: 1.5;
}

/*---------------------*/

/* TRAILER */

.page-info-anime__Trailer p{
  padding: 0 0 0 40px;
  font-size: 25px;
  font-weight: bold;
}

.page-info-anime__Trailer iframe{
  padding: 20px;
  margin: 0 0 40px 40px;
  width: 90%;
  height: 650px;
}

/*---------------------*/

/* ELEMENTOS INFO CARDS */

.page-info-anime__popularCard{
  position: relative;
  display: flex;
  width: 240px;
  background-color: #07A0C3;
  padding: 1px 5px;
  margin-left: 40px;
  margin-bottom: 8px;
  border-radius: 7px;
}

.page-info-anime__popularCard img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
  justify-content: center;
}

.page-info-anime__popularCard-number{
  margin-left: 40px;
}

.page-info-anime__popularCard-string{
margin-left: 8px;
}

.page-info-anime__ratedCard{
  position: relative;
  display: flex;
  width: 240px;
  background-color: #FF434D;
  padding: 1px 5px;
  margin-left: 40px;
  border-radius: 7px;
}

.page-info-anime__ratedCard img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 22px;
  height: 22px;
}

.page-info-anime__ratedCard-number{
  margin-left: 40px;
}

.page-info-anime__ratedCard-string{
  margin-left: 8px;
}

/*---------------------*/

/* SINOPSE+CARDS */

.page-info-anime__synopsis-cards{
  display: flex;
}

/*---------------------*/

/* INFORMACOES O ANIME */

.page-info-anime__image img{
  border-radius: 15px;
  width: 250px;
  height: 400px;
}

.page-info-anime__title{
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 30px;
}

.page-info-anime__genres{
  padding-bottom: 20px;
}

.page-info-anime__episodes {
  padding-bottom: 20px;
}

.page-info-anime__date {
  padding-bottom: 20px;
}

.page-info-anime__status {
  padding-bottom: 20px;
}

.page-info-anime__score{
  padding-bottom: 20px;
}

/*---------------------*/
