<div class="anime-list__animes">
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
  <app-anime-card></app-anime-card>
</div>

