.page-home__cards {
    max-width: 1000px;
    display: flex;
    margin-left: 190px;
    margin-right: 190px;
    padding-top: 5px;
    flex-wrap: wrap;
}

.content{
  justify-content: center;
  display: flex;
  min-height: 95vh;
}

/* CABEÇALHO */

.page-home__top{
  font-family: Arial, serif;
  color: #6E7781;
  display: flex;
  justify-content: space-between;
  margin-left: 205px;
  margin-right: 185px;
}

.page-home__top button{
  font-size: 12px;
  color: #FF434D;
  font-weight: bold;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
