<div class="container">
  <div class="anime-form__header">
    <img src="./assets/animes-images/naruto.jpg" alt="">
  </div>
  <div class="anime-form__forms">
    <div class="anime-form__status">
      <form>
        <label for="status" id="status">Status</label><br>
        <input type="number" name="status"><br>
      </form>
    </div>
    <div class="anime-form__rate">
      <form>
        <label for="rate" id="rate">Nota</label><br>
        <input type="number" name="rate"><br>
      </form>
    </div>
    <div class="anime-form__progress">
      <form>
        <label for="progress" id="progress">Progresso de episódio</label><br>
        <input type="number" name="progress"><br>
      </form>
    </div>
    <div class="anime-form__startDate">
      <form>
        <label for="startDate" id="startDate">Data de início</label><br>
        <input type="number"  name="startDate"><br>
      </form>
    </div>
    <div class="anime-form__endDate">
      <form>
        <label for="endDate" id="endDate">Data de término</label><br>
        <input type="number" name="endDate"><br>
      </form>
    </div>
    <div class="anime-form__rewatch">
      <form>
        <label for="rewatch" id="rewatch">Vezes reassistidas</label><br>
        <input type="number" name="rewatch"><br>
      </form>
    </div>
  </div>
</div>
